.elm {
    margin: auto;
    width: 90em;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-content: space-between;
}

.board {
    text-align: center;
}

.controls {
    display: inline-block;
    text-align: left;
}
